.card{
    width: 285px;
    height: 500px;
   background-color:  #b4bbb8;
   border: 5px solid #2c5245;
   border-radius: 10px;
   padding: 20px;
}
.image{
    border-radius: 10px;
    border: 5px solid #2c5245;
}
.create-blog{
    height: 5%;
    margin: 15px;
    margin-right: 40px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: rgba(162, 167, 154, 0.791);
    padding: 10px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}